@tailwind base;
@tailwind components;
@tailwind utilities;

/* Star animation */
/* .star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  90%, 100% { opacity: 0; }
  90% { opacity: 1; }
} */

/* Comet animation */
/* .comet {
  position: fixed;
  top: 20px;
  left: -100px;
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  animation: comet 3s infinite;
}

@keyframes comet {
  0% { transform: translateX(0) translateY(0); }
  100% { transform: translateX(calc(100vw + 100px)) translateY(100vh); }
} */
